.section-cards{
    width: 100vw;
    height: 1020px;
    
}

.flex-card{
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card{
    width: 30%;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0 4px 10px 0 #FF7348;
    padding: 10px;
}