.banner{
    width:1920px;
    height: 350px;
    background-image: url(/assets/img/Baner3.png);
    background-repeat: no-repeat;   
    background-size: 100%;
    box-shadow: 1px 1px 15px rgb(250, 93, 2);
    
}