.tecnologias{
    width: 100vw;
    height: 200px;
    
}
.flex{
    width: 100%;
    height: 50px;
    display: flex;
    gap: 15px;
    
}
.destaque-tech{
    width: 20%;
    height: 30px;
    background: var(--cor-gradiente-button);
    border-radius: 10px;
    line-height:30px;
    box-shadow: 4px 4px 4px  #FF7348 ;
    
}
.destaque-tech p{
    font-size: 20px;
}
.divisor{
    width: 100%;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.435);
}