
.container-conteudo p{
    font-size: 12px;
}

.img-txt{
    width: 60%;
    height: 250px;
    display: flex;
    gap: 20px;
    text-align: center;
    padding-top: 30px;
}
.img-perfil{
    width: 150px;
    height: 220px;
    background-image: url(/assets/img/5095867826878221157.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -70px;
    border-radius: 30px;
}
.txt-perfil h1{
    font-size: 25px;
    background: var(--cor-gradiente-txt); 
    -webkit-background-clip: text;
     background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 15px;
    text-align: left;
}
.txt-perfil p{
    font-size: 14px;
    
    text-align: justify;
    color:var(--cor-txt-primaria);
}

.button-perfil{
    width: 20%;
    height: 200px;
    display: flex;
    flex-direction: column;
}
.baixarcv{
    width: 200px;
    height: 50px;
    background:white;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    font-weight: 700;
    font-size: 20px;
    box-shadow: 0px 4px 8px #474747;
    margin-bottom: 40px;
    line-height:50px;
}
.baixarcv p{
    background: var(--cor-gradiente-txt); 
    -webkit-background-clip: text;
     background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    font-weight: 700;

}