.banner{
    max-width:1920px;
    height: 350px;
    background-image: url(/assets/img/SoftWare\ \(1900\ x\ 500\ px\)\ \(1900\ x\ 350\ px\)\ \(1920\ x\ 350\ px\).png);
    background-repeat: no-repeat;   
    background-size: 100% 100%;
    
}