.perfil .container-conteudo{
    background-color: rgba(137, 43, 226, 0.163);
}
.container-conteudo p{
    font-size: 12px;
}

.img-txt{
    width: 60%;
    height: 250px;
    display: flex;
    gap: 20px;
    text-align: center;
    padding-top: 30px;
}
.img-perfil{
    width: 150px;
    height: 220px;
    background-image: url(/assets/img/5095867826878221157.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -70px;
    border-radius: 30px;
}
.txt-perfil h1{
    font-size: 25px;
    background: var(--cor-gradiente-txt); 
    -webkit-background-clip: text;
     background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 15px;
    text-align: left;
}
.txt-perfil p{
    font-size: 14px;
    
    text-align: justify;
    color:var(--cor-txt-primaria);
}