nav{
    width: 100vw;
    height: 80px;
    background:var(--cor-gradiente-navbar); 
}
.container-conteudo{
    max-width: 1024px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}
.logo h1, p{
    color: white;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
}
.nav-link{
    
    display: flex;
    line-height:50px;
    gap: 50px;
}
ul{
    display: flex;
    gap: 35px;
    list-style: none;
    
}
ul li a{
    text-decoration: none;
    color: white;
    font-size: 22px;
}
#home {
    background: var(--cor-gradiente-txt); 
    -webkit-background-clip: text;
     background-clip: text;
    -webkit-text-fill-color: transparent;
}
.button-contato{
    width: 200px;
    height: 50px;
    background: var(--cor-gradiente-button);
    color: white;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    font-weight: 700;
    font-size: 20px;
    box-shadow: 0px 4px 8px #E7633B;
}
