

.inputf{
position: relative;
width: 400px;
height: 30px;

}
.inputf p {
    color: rgba(0, 0, 0, 0.554);
    margin-bottom: 5px;
}

input:focus {
outline: none;
}

#filtro{
    width: 100%;
    height: 40px;
    background-color: white;
    color: rgba(254, 83, 4, 0.956);
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 8px rgb(100, 100, 99);
}
.inputf i{
    position: absolute;
    width: 30px;
    height: 40px;
    color: rgb(240, 63, 4);
    text-align: center;
    padding: 9px;
    font-size: 20px;
    right: 2%;

}