.section-cards{
    width: 100vw;
    height: 1020px;
    
}

.flex-card{
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card{
    width: 30%;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0 4px 10px 0 #FF7348;
    padding: 10px;
}
.img-card1{
    width: 100%;
    height: 55%;
    background-image: url(/assets/img/3d-female-character-working-laptop.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 15px;
    margin-bottom: 15px;
    box-shadow: 1px 4px 10px 0 rgba(0, 0, 0, 0.389) ;

}